@page
@model RolesModel

@{
    ViewData["Title"] = "Roles";
    Layout = "/Pages/Shared/_Layout.cshtml";
}
<style>
    #roles {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #roles td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #roles tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #roles tr:hover {
            background-color: #ddd;
        }

        #roles th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 45%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<div style="padding-top:60px;">
    <button id="OpenPopup" class="btn btn-success" style="margin-bottom: 15px;">Add new role</button>

    <table id="roles">
        <thead>
            <tr>
                <th>Role Id</th>
                <th>Role Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var role in Model.Roles)
                {
                    <tr>
                        <td>@role.Id</td>
                        <td>@role.Name</td>
                        <td>
                            <form asp-action="OnDeleteAsync" asp-route-id="@role.Id">
                                <button class="btn btn-primary">Edit</button>
                                <div id="RolePopUp">
                                    <span id="confirmDeleteSpan_@role.Id" style="display:none">
                                        <span>Are you sure you want to delete?</span>
                                        <button type="submit" class="btn btn-danger">Yes</button>
                                        <a class="btn btn-primary" onclick="confirmDelete('@role.Id', false)">No</a>
                                    </span>
                                </div>
                                <span id="deleteSpan_@role.Id">
                                    <button class="btn btn-danger" onclick="confirmDelete('@role.Id', true)">Delete</button>
                                </span>
                            </form>
                        </td>
                    </tr>
                }

        </tbody>
    </table>
</div>
<!-- The Modal -->
<div id="RolePopup" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="container" style="text-wrap: AVOID; text-align: CENTER; max-width: 1140px; font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;">
            <div class="row">
                <div class="col-xs-0 col-sm-0 col-md-2"></div>
                <div class="col-xs-12 col-sm-12 col-md-8">
                    &nbsp;
                    <div id="divSortBy" style="background-color: gainsboro; text-align: center;">
                    </div>
                    <div id="divDesigns" class="clearfix" text-align: center;">
                        <p class="text-danger">

                        </p>
                        <form method="post">
                            <div class="form-horizontal" style="text-align: center">
                                <h4>
                                    <span style="font-size:X-Large;font-weight:bold;">Add role</span>
                                </h4>
                                <hr>
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="col-md-12" style="text-align: center">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input asp-for="Input.RoleId" class="form-control" hidden />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="MainContent_TxtFirstName" class="col-md-12 control-label">Role Name:</label>
                                        <div class="col-md-12">
                                            <input asp-for="Input.RoleName" class="form-control" />
                                            <span asp-validation-for="Input.RoleName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12" style="text-align: center">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="col-xs-0 col-sm-0 col-md-2"></div>
            </div>
        </div>
    </div>

</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#roles').DataTable();
        });
    </script>
    <script>
        // Get the modal
        var modal = document.getElementById("RolePopup");

        // Get the button that opens the modal
        var btn = document.getElementById("OpenPopup");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
<script>
    function confirmDelete(uniqueId, isDeleteClicked) {
        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;
        if (isDeleteClicked) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }
</script>

}
